.region-form {
  position: fixed;
  bottom: 50%;
  opacity: 1;
  background-color: #846cd3;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}

.rowed {
  height: 50%;
  transform: translateY(-50%);
  top: 50%;
  width: 2px;
  right: 5px;
  position: absolute;
  z-index: 0;
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

