@import 'variables';

.header {
  height: $header-height;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  background-color: sandybrown;
  font-size: 30px;
  color: blueviolet;
}
