@import '~normalize.css';

@import 'loader';
@import 'header';
@import 'main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
